<?xml version="1.0"?>
<config>
    <modules>
        <Onerhino_Splitshipping>
            <version>1.0.0</version>
        </Onerhino_Splitshipping>
    </modules>
    <global>
        <models>
            <onerhino_splitshipping>
                <class>Onerhino_Splitshipping_Model</class>
            </onerhino_splitshipping>
            <shipping>
                <rewrite>
                    <shipping>Onerhino_Splitshipping_Model_Shipping_Shipping</shipping>
                </rewrite>
            </shipping>	
        </models>
        <helpers>
            <onerhino_splitshipping>
                <class>Onerhino_Splitshipping_Helper</class>
            </onerhino_splitshipping>
        </helpers>
        <resources>
			<onerhino_splitshipping_setup>
				<setup>
					<module>Onerhino_Splitshipping</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</onerhino_splitshipping_setup>
		</resources>
    </global>
    <default>
        <carriers>
            <onerhino_splitshipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>onerhino_splitshipping/carrier</model>
                <title>Split Shipping Method</title>
                <sallowspecific>2</sallowspecific>
            </onerhino_splitshipping>
        </carriers>
    </default>
</config>